$color-primary: #cac6c6d0;
$color-secondary: #f5f5f5;
$color-tertiary: #ffffffec;
$color-quaternary: #000000;
$color-quinary: #a7a5a5;
$color-senary: #4f8d4f;
$color-septenary: #041a04;
$color-octonary: #7b7a7ac7;
